.App {
  display: grid;
  height: 100%;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 70% 20%;
  grid-row-gap: 20px;
}

.App-header {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid white;
  padding-top: 40px;
}
